header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
    font-size: 15px;
    margin: 0 3vw 30px;
    justify-content: space-between;
  }

  .site-logo > img {
    width: 30rem;
    height: auto;
    margin-right: 20px;
  }

  nav > a{
    display: inline-block;
    padding: 12px 0;
    margin: .3em;
    font-size: 1em;
    font-weight: 600;
    width: 140px;
    height: 40px;
  }

  
  nav > a:hover{
    border-left: 2px solid var(--rot);
    border-right: 2px solid var(--rot);
    border-radius: 50%;
  }