*,
*:before,
*:after {
  box-sizing: border-box;
  --blau: #005ea8;
  --blau2: rgba(3, 42, 94, 0.884);
  --blau3: #2980b9;
  --rot: #e40707;
  --textColor: #2c2c2c;
  --mainFont: "Roboto", sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

html {
  font-family: var(--mainFont);
  color: var(--textColor);
  position: relative;
  margin: 0;
  padding: 0;
  
  
}

body {
  margin: 0 0 170px;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: max-content;
 
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: unset;
  color: unset;
}

ul {
  margin:0;
}

hr {
  border: 1px dashed rgba(255, 255, 255, 0.644);
}

@media screen and (max-width: 420px) {
   
  h1 {
         font-size: 1.6rem;
         margin-bottom: 7px;
        
  } 
       
  h2 { 
         margin-bottom: 0;
         
  } 
         
       
  h3 {
         margin-bottom: 0;
         
  } 



 
   }  


   @media screen and (max-width: 300px) {
   
    html{
      font-size: .8rem;
    }
    
    html .menuNav{
      font-size: .9em;
    }

    .site-logo > img {
      width: 100%;
      max-width: 15rem;
      margin-top: 20%;
    }
     }  

  
  
     
     

