.leistungen--container{
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 80vw;
   
}

.leistungen--header {
    padding: 50px 0;
    font-size: 2rem;
 
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }

  .each-slide > div:hover{
    transform: scale(1.05);
    transition: 1s ease;
  } 
  
.each-slide span {
    padding: 15px;
    font-size: 22px;
    background: var(--blau);
    text-align: center;
    color: white;
    border-radius: 10px;
    filter: opacity(90%);	
    
  }

  .each-slide span:hover{
    background: var(--rot);
  
  }

  .klasse--title { 
    display: flex;
    justify-content: space-between;
    font-size: large;
    text-align: left;
    margin: 100px 0 20px;
    border-left: 5px ridge white;
    padding-left: 20px;
  }



  .klasse--title > p {  
    padding-top: 10px;
    width:100px;
    height: 40px;
    background-color: var(--blau);
    color: white;
    text-align: center;
    border-radius: 50px;
    opacity: 80%;
    margin-right: 10px;
}

.klasse--title > p:hover{
    background-color: var(--rot);
    color: white;

}

  .klasse--grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    padding: 0;

  }



  .leistungen--card{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    justify-content:center;
    padding: 20px 25px 20px 10px;
    height: 250px;
    width: auto;
    box-shadow: 2px 2px 5px black;
    
  }
   
  .leistungen--card:hover{
    box-shadow: 2px 2px 20px black;
    transition: 1s ease;
  }
  .leistungen--card h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
 
  }

  .leistungen--card:nth-child(1){
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--rot);
}

.leistungen--card:nth-child(2){
    grid-area: 1 / 3 / 2 / 5; 
    background-color: white;
    color:black
}

.leistungen--card:nth-child(3){
    grid-area: 1 / 5 / 2 / 7;
    background-color: var(--blau);
}


.leistungen--card:nth-child(4){
    grid-area: 2 / 1 / 3 / 4; 
    background-color: white;
    color:black
}

.leistungen--card:nth-child(5){
    grid-area: 2 / 4 / 3 / 7; 
    background-color: var(--rot);
}

  .leistungen--card img{
    max-width:100px;
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 1000px){

    .leistungen--container {
        width: 90vw;
    }
    .klasse--grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .leistungen--card:nth-child(1){
        grid-area: 1 / 1 / 2 / 4;
        background-color: var(--rot);
    }
    
    .leistungen--card:nth-child(2){
        grid-area: 1 / 4 / 2 / 7; 
        background-color: white;
        color:black
    }
    
    .leistungen--card:nth-child(3){
        grid-area: 2 / 4 / 3 / 7;
        background-color: var(--blau);
    }
    
    
    .leistungen--card:nth-child(4){
        grid-area: 2 / 1 / 3 / 4; 
        background-color: white;
        color:black
    }
    
    .leistungen--card:nth-child(5){
        grid-area: 3 / 1 / 4 / 7; 
        background-color: var(--rot);
    }
    
  }

  @media screen and (max-width: 500px) {
    .klasse--grid {
        display: block;
    }
    .klasse--title { 
        font-size: small;
        flex-direction: column;
      
      }
  }