.container--über {

    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 50px 100px;
    margin-bottom: 100px;
    height: 100%;
    width: 100vw;

}


.über--top {
    background: var(--blau);
    color: white;
    height: 600px;
    width: 100vw;
    padding: 50px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: nowrap;
    
}

.über--top--img {
    max-width: 43em;
    width: 100%;
    height: auto;
    border: 10px solid var(--blau2);

}


.über--top--img:hover {
	-webkit-transform: scale(1);
    transform: scale(1);  
	animation: flash 2.5s;
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.über--top--right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;   

}



.über--top--right--span{
    font-size: 1.5em;
    letter-spacing: .2em;
    text-shadow: 1px 1px 7px white;
    color:var(--blau);
    padding-left: 10px;
    

}

.über-link{
    color: white;
    background-color: var(--rot);
    transition: 1s ease;
    height: 50px;
    width: 220px;
    border-radius: 30px;
    padding-top: 15px;
    margin: 40px 0 10px;
    font-size: large;

}

.über-link:hover{
    box-shadow: 0px 0px 20px 0px rgba(235,245,242,0.9);
    -webkit-box-shadow:0px 0px 20px 0px rgba(235,245,242,0.9);
    -moz-box-shadow: 0px 0px 20px 0px rgba(235,245,242,0.9);
}

.über--top--rows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.über--top--row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.über--top--row > img {
    width: 77px;
    
}

.über--top--row > h2 {
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
}

.über--mittle {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;
    position: relative;

}

.über--mittle--right {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    padding:20px; 
    height: 100%;
    width: 30vw;
    background-color: var(--rot);
    color:white;
   
}

.über--mittle--right > h1{
    letter-spacing: .2em;
    padding-left: 10px;
}


.filialen{
    
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    flex-direction: column; 
}

.filiale {  
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    
}



.navi{
    width: 77px;
    animation: rotate 6s ease-in-out 1 both;   
    margin-right: 10px;
    
}
.navi:hover{
    animation: none;
    transform: translate(2px);
}

@keyframes rotate{
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-360deg);
    }
}

.über--mittle--left {
    width: 45vw;
  
}
.schuleIMGs{
    max-width: 450px;
    width: 100%;
    height: auto;
    border: 7px solid var(--blau2);
    transition: .7s ease; 

}
.schuleIMGs:hover{
    filter: opacity(85%);
}

#schuleIMG1 {
    position: absolute;
    bottom: 0;
    left: 150px;
    animation: move1 2s ease-in-out infinite both;
}

#schuleIMG2 {
    position: absolute;
    bottom: 100px;
    left: 620px;
    animation: move2 2s ease-in-out infinite both;
    z-index: 2;
}

#schuleIMG3 {
    position: absolute;
    bottom: 250px;
    left: 300px;
    animation: move3 2s ease-in-out infinite both;
}
@keyframes move1 {
    0% {transform:  translate(0, 0)}
    50% {transform: translate(-7px, -7px)}
    
}
@keyframes move2 {
    0% {transform:  translate(0, 0)}
    50% {transform: translate(7px, 0)}
    
}

@keyframes move3 {
    0% {transform:  translate(0, 0)}
    50% {transform: translate(0, 7px)}
    
}


.über--bottom--lehrer {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: space-between;
    gap: 100px;
  
}

.über--bottom > h1 {
    font-size: 2rem;
    letter-spacing: .2em;
    text-align: center;
    margin-bottom: 50px;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
.flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
.flip-card-back {
    background-color: var(--blau3);
    color: white;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.7em;
    transform: rotateY(180deg);
  }


.lehrer-profil{
    width: 350px;
    height: 350px;
    object-fit: cover;
}


.email {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.email:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 1600px) {
    .über--top { 
       height: fit-content;
       flex-direction: column;
       margin-bottom: 0;   
        
    }

  
    .über--mittle{
        margin: 0;

    }

    .über--mittle--right {
        width: 100%; 
        flex-wrap: wrap;
        gap: 30px;
        
    
    }
     .filialen {
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       gap: 20px;
     }
  

    .über--mittle--left{
        display: none;
    }
    
    .über--bottom--lehrer {
        
        grid-template-columns: 1fr 1fr;
      
    
    }

}

@media screen and (max-width: 1000px) {
   
    .über--bottom--lehrer {   
        grid-template-columns: 1fr; 
    }

}


@media screen and (max-width: 700px) {

    .filialen {
        padding:0 15px 20px;
        flex-direction: column;
        gap: 0;
      }
    .über--top--row > h2{
        font-size: 1.2em;
        letter-spacing: .2em;   
    }
     
    .filiale {
        width: 100%;
       
    }
    .über--top--row > img {
        width: 50px;
        
    }
  
    .über--top--left{
        width: 117%;
        height: auto;
    }
};
   
@media screen and (max-width: 400px) {
  
    
    .navi{
        width: 70px;
        margin: 0;
        padding: 0;
        
    }
  
  }
